<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Pag</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="navbar-icon fa-solid fa-home" aria-hidden="true"></span>
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="navbar-icon fa-solid fa-list-ul" aria-hidden="true"></span>
                Products
            </NavLink>
        </div>
    </nav>
</div>

@code {
    protected string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private bool _collapseNavMenu = true;

    protected void ToggleNavMenu() =>
        _collapseNavMenu = !_collapseNavMenu;
}
